<!-- Header Right -->
<div class="header-right">
    <ul>
        <li>
            <div class="nav-search search-switch">
                <span class="flaticon-search"></span>
            </div>
        </li>
        <li> <a href="login.html"><span class="flaticon-user"></span></a></li>
        <li><a href="cart.html"><span class="flaticon-shopping-cart"></span></a> </li>
    </ul>
</div>
</div>