<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Argento Jewelery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/ui/img/favicon.ico">

    @await Html.PartialAsync("_StylesPartial")

</head>

<body>
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">

                        @await Html.PartialAsync("_PreloaderPartial")
                        @await Html.PartialAsync("_LogoPartial")
                        @await Html.PartialAsync("_MainMenuPartial")
                        @await Html.PartialAsync("_HeaderRightPartial")
                        @await Html.PartialAsync("_MobileMenuPartial")
        <!-- Header End -->
    </header>
   
   
@RenderBody()

    
    <footer>
      @await Html.PartialAsync("_FooterStartPartial")
      @await Html.PartialAsync("_FooterBottomPartial")
      @await Html.PartialAsync("_FooterSocialPartial")
    </footer>

    @await Html.PartialAsync("_ScriptsPartial")

</body>
</html>