 <!-- Main-menu -->
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="index.html">Anasayfa</a></li>
                                    <li class="menu22"><a href="#">Doğal Taş</a>
                                        <ul class="submenu">

                                            <li><a href="shop.html"> Ham Kütle</a></li>
                                            <li><a href="shop.html">Bileklik</a></li>
                                            <li><a href="shop.html">Kolye Ucu</a></li>
                                            <li><a href="shop.html">Yüzük</a></li>
                                            <li><a href="shop.html">Burçlara özel</a></li>
                                            <li><a href="shop.html">Çakra blokajı</a></li>
                                            <li><a href="shop.html">Niyet ve Şifa</a></li>

                                        </ul>
                                    <li class="menu22"><a href="#">Gümüş/Çelik</a>
                                        <ul class="submenu">

                                            <li><a href="shop.html">Kolye</a></li>
                                            <li><a href="shop.html">Bileklik</a></li>
                                            <li><a href="shop.html">Küpe</a></li>
                                            <li><a href="shop.html">Yüzük</a></li>
                                            <li><a href="shop.html">Halhal</a></li>

                                        </ul>



                                    <li class="menu22"><a href="#">Tütsü</a>
                                        <ul class="submenu">

                                            <li><a href="shop.html">Tütsüler</a></li>
                                            <li><a href="product_details.html">Tütsülük</a></li>

                                        </ul>
                                    <li class="menu22"><a href="#">Parfüm</a>
                                        <ul class="submenu">

                                            <li><a href="shop.html">Kadın</a></li>
                                            <li><a href="product_details.html">Erkek</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog</a>



                                </ul>
                            </nav>
                        </div>