@model ArgentoApp.Frontend.Mvc.Models.Product.ProductsCategoriesViewModel
@{
    var categories = Model.CategoryList;
    var products = Model.ProductList;
}
<!--? slider Area Start -->
<div class="slider-area">
    <div class="slider-active">
        <!-- First Slider -->
        <div class="single-slider slider-height d-flex align-items-center slide-bg"
            style="height: 200px; background-image: url('/ui/img/hero/slider9.png'); background-size: cover; background-position: center;">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="hero__caption1">
                            <h1 data-animation="fadeInLeft" data-delay=".3s" data-duration="1000ms">Enerjinizi Yükseltin
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".3s" data-duration="1000ms">
                                Doğal taşların sunduğu güzellikleri ve enerjileriyle dolu takılar, sizin için hayat
                                buluyor. Şıklığınızı yansıtan parçaları seçin!
                            </p>
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".2s" data-duration="1000ms">
                                <a href="industries.html" class="btn hero-btn">Alışverişe başla</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-4 d-none d-sm-block">
                        <div class="hero__img" data-animation="bounceIn" data-delay=".3s">
                            <img src="~/ui/img/hero/ametist.png" alt="" class="heartbeat">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Second Slider -->
        <div class="single-slider slider-height d-flex align-items-center slide-bg"
            style="height: 200px; background-image: url('/ui/img/hero/slider16.png'); background-size: cover; background-position: center;">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay=".3s" data-duration="2000ms">Benzersiz Parçalar
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".2s" data-duration="2000ms">
                                Doğal taşların mistik enerjisiyle tasarladığınız takılarla içsel dengenizi
                                bulabilirsiniz. Şimdi hayalinizdeki takıyı yaratma zamanı!
                            </p>
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="1000ms">
                                <a href="industries.html" class="btn hero-btn">Kendi Parçanızı Tasarlayın</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Third Slider -->
        <div class="single-slider slider-height d-flex align-items-center slide-bg"
            style="height: 200px; background-image: url('/ui/img/hero/slider21.png'); background-size: cover; background-position: center;">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInLeft" data-delay=".4s" data-duration="2000ms">Benzersiz Parçalar
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".3s" data-duration="2000ms">
                                Doğal taşların mistik enerjisiyle tasarladığınız takılarla içsel dengenizi
                                bulabilirsiniz. Şimdi hayalinizdeki takıyı yaratma zamanı!
                            </p>
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="1000ms">
                                <a href="industries.html" class="btn hero-btn">Kendi Parçanızı Tasarlayın</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Fourth Slider - Çakra Koleksiyonu -->
<div class="single-slider slider-height d-flex align-items-center slide-bg"
    style="height: 200px; background-image: url('/ui/img/hero/slider17.png'); background-size: cover; background-position: center;">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="hero__caption">
                    <h1 data-animation="fadeInLeft" data-delay=".3s" data-duration="2000ms"> 
                    </h1>
                    <p data-animation="fadeInLeft" data-delay=".2s" data-duration="2000ms">
                    </p>
                    <div class="hero__btn" 
                        data-animation="fadeInLeft" 
                        data-delay=".8s" 
                        data-duration="1000ms" 
                        style="margin-top: 180px;">
                        <a href="industries.html" class="btn hero-btn">Burcuna özel ürünlerini keşfet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- Fifth Slider - Burç Koleksiyonu -->
     <div class="single-slider slider-height d-flex align-items-center slide-bg"
            style="height: 200px; background-image: url('/ui/img/hero/slider19.png'); background-size: cover; background-position: center;">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                        <div class="hero__caption">
                            @* <h1 data-animation="fadeInLeft" data-delay=".3s" data-duration="2000ms">Benzersiz Parçalar
                            </h1>
                            <p data-animation="fadeInLeft" data-delay=".2s" data-duration="2000ms">
                                Doğal taşların mistik enerjisiyle tasarladığınız takılarla içsel dengenizi
                                bulabilirsiniz. Şimdi hayalinizdeki takıyı yaratma zamanı!
                            </p> *@
                            <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s" data-duration="1000ms">
                                <a href="industries.html" class="btn hero-btn">Çakra koleksiyonumuzu keşfet</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- ? Çok SATANLAR -->
<section class="new-product-area section-padding30">
    <div class="container">
        <!-- Section tittle -->
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle mb-70">
                    <h2>Çok Satanlar</h2>
                </div>
            </div>
        </div>

        <!-- Slider Başlangıç -->
        <div id="bestsellerSlider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <!-- Ürün 1 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/p1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                                    <span>$ 45,743</span>
                                </div>
                            </div>
                        </div>
                        <!-- Ürün 2 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/p2.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                                    <span>$ 45,743</span>
                                </div>
                            </div>
                        </div>
                        <!-- Ürün 3 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/p3.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                                    <span>$ 45,743</span>
                                </div>
                            </div>
                        </div>
                        <!-- Ürün 4 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/p4.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Thermo Ball Etip Gloves</a></h3>
                                    <span>$ 45,743</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Yeni Ürün Grubu -->
                <div class="carousel-item">
                    <div class="row">
                        <!-- Ürün 5 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/new_product5.png" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Winter Jacket</a></h3>
                                    <span>$ 60,999</span>
                                </div>
                            </div>
                        </div>
                        <!-- Ürün 6 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/new_product6.png" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Thermo Jacket</a></h3>
                                    <span>$ 39,500</span>
                                </div>
                            </div>
                        </div>
                        <!-- Ürün 7 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/new_product7.png" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Hiking Gloves</a></h3>
                                    <span>$ 29,743</span>
                                </div>
                            </div>
                        </div>
                        <!-- Ürün 8 -->
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="single-new-pro mb-30 text-center">
                                <div class="product-img">
                                    <img src="~/ui/img/gallery/new_product8.png" alt="" class="img-fluid">
                                </div>
                                <div class="product-caption">
                                    <h3><a href="product_details.html">Snow Boots</a></h3>
                                    <span>$ 99,000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kontroller -->
            <a class="carousel-control-prev" href="#bestsellerSlider" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Önceki</span>
            </a>
            <a class="carousel-control-next" href="#bestsellerSlider" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Sonraki</span>
            </a>
        </div>
        <!-- Slider Bitiş -->
    </div>
</section>
<!-- Çok Satanlar End -->

<!-- Popular Items Start -->
<div class="popular-items section-padding30">
    <div class="container">
        <!-- Section title -->
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10">
                <div class="section-tittle mb-70 text-center">
                    <h2>Ürünlerimiz</h2>
                    <p>Bu ayın en popüler ürünlerini keşfedin! Özenle seçilmiş doğal taşlar, şık çelik ve zarif
                        gümüş takılar, hem şıklığınızı tamamlayacak hem de tarzınıza özgünlük katacak.</p>
                </div>
            </div>
        </div>

        <div class="row">
            @if (products != null && products.Any())
            {
                    <!-- Ürünleri kontrol etmek için -->
                    <div>@Html.Raw(Json.Serialize(products))</div>

                @foreach (var product in products)
                {
                            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                <div class="single-popular-items mb-50 text-center">
                                    <div class="popular-img">
                                        <img src="http://localhost:5000/images/products/@product.ImageUrl" alt="@product.Name">
                                        <div class="img-cap">
                                            <span>Sepete ekle</span>
                                        </div>
                                        <div class="favorit-items">
                                            <span class="flaticon-heart"></span>
                                        </div>
                                    </div>
                                    <div class="popular-caption">
                                        <h3><a href="product_details.html">@product.Name</a></h3>
                                        <span>@product.Price.ToString("C")</span>
                                    </div>
                                </div>
                            </div>
                }
            }
            else
            {
                    <p>Ürün bulunamadı.</p>
            }
        </div>

        <!-- Button -->
        <div class="row justify-content-center">
            <div class="room-btn pt-70">
                <a href="catagori.html" class="btn view-btn1">Diğer Ürünleri Gör</a>
            </div>
        </div>
    </div>
</div>
<!-- Popular Items End -->



<!--? Watch Choice  Start-->
<div class="watch-area section-padding30">
    <div class="container">

          <div class="row align-items-center justify-content-between padding-130">
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Kütle Doğal Taşlar</h2>
                    <p>Kendi tarzınıza ve enerjinize uygun doğal taşlarla, size özel bir bileklik veya kolye tasarlayın.
                        Hayalinizdeki parçayı oluşturmak için bizimle iletişime geçin!</p>
                    <a href="contact.html" class="btn">İletişime Geç</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/3333.png" alt="Kendi Tasarımını Oluştur">
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between padding-130">
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Bileklik</h2>
                    <p>Kendi tarzınıza ve enerjinize uygun doğal taşlarla, size özel bir bileklik veya kolye tasarlayın.
                        Hayalinizdeki parçayı oluşturmak için bizimle iletişime geçin!</p>
                    <a href="contact.html" class="btn">İletişime Geç</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/333333.png" alt="Kendi Tasarımını Oluştur">
                </div>
            </div>
        </div>
    

        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Çakralara Özel</h2>
                    <p>Her çakra için doğru taşları seçerek enerji merkezlerinizi dengeleyin. Fiziksel ve ruhsal
                        sağlığınızı destekleyecek çakra taşlarını hemen keşfedin.</p>
                    <a href="shop.html" class="btn">Çakra Taşlarını Keşfedin</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/chakra.png" alt="Çakralara Özel">
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/silver.png" alt="Gümüş Çelik">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Gümüş & Çelik</h2>
                    <p>Kaliteli gümüş ve çelik malzemelerle şıklığı ve dayanıklılığı bir arada yaşayın. Hem günlük hem
                        de özel günlerde tarzınızı tamamlayacak parçalar burada.</p>
                    <a href="shop.html" class="btn">Şimdi Keşfet</a>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Tütsü</h2>
                    <p>Doğal tütsülerle evinize huzur ve pozitif enerji katın. Farklı aromalarla ruhunuzu dinlendirin ve
                        ortamınızı arındırın.</p>
                    <a href="shop.html" class="btn">Tütsüleri İncele</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/tütsülerr.png" alt="Tütsü">
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/parfum.png" alt="Parfüm">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Parfüm</h2>
                    <p>Doğal ve eşsiz aromalarla kendinizi ifade edin. Kişiliğinizi yansıtan kokularla gün boyu ferahlık
                        ve çekicilik sizinle.</p>
                    <a href="shop.html" class="btn">Parfümleri Keşfet</a>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between padding-130">
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Kendi Tasarımını Oluştur</h2>
                    <p>Kendi tarzınıza ve enerjinize uygun doğal taşlarla, size özel bir bileklik veya kolye tasarlayın.
                        Hayalinizdeki parçayı oluşturmak için bizimle iletişime geçin!</p>
                    <a href="contact.html" class="btn">İletişime Geç</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/3333.png" alt="Kendi Tasarımını Oluştur">
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/bö.jpg" alt="Burcuna Özel">
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Burcuna Özel</h2>
                    <p>Burcunuza uygun doğal taşlarla ruhsal dengenizi bulun ve enerjinizi dengeleyin. Sizi en iyi
                        yansıtan taşları keşfetmek için şimdi burç taşlarınızı seçin!</p>
                    <a href="shop.html" class="btn">Burç Taşlarınızı Keşfedin</a>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5 col-md-6">
                <div class="watch-details mb-40">
                    <h2>Blog</h2>
                    <p>Doğal taşlar, şifa yöntemleri ve spiritüel yaşam hakkında bilgi almak için blog yazılarımızı
                        okuyun. Bilinçli seçimler yaparak hayatınızı zenginleştirin.</p>
                    <a href="blog.html" class="btn">Blog Yazılarını Oku</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10">
                <div class="choice-watch-img mb-40">
                    <img src="~/ui/img/gallery/blogg.png" alt="Blog">
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Watch Choice  End-->